@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dogs system</h1>
   
        <img src="https://hips.hearstapps.com/hmg-prod/images
/group-portrait-of-adorable-puppies-royalty-free-image-1687451786.jpg?crop=0.89122xw:1xh;center,top&resize=1200:*"
             style="max-width:100%" />
  
    
</div>
